@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  border: border-box;
}
body {
  background: #fff url(https://i.gifer.com/origin/d2/d2faff75e02534a3c687da2b7c4a95ab_w200.gif);
}
h1 {
  margin: 10px;
  font-size: 30pt;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
fieldset {
  text-align: center;
  border: 2px solid #000;
  border-radius: 17px;
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
}
#outer_shell {
  border: 1px solid black;
  width: 388px;
  /* height: 600px; */
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  box-shadow: #000 0px 0px 20px ;
}
#screen {
  margin: 5% 3%;
  height: 85px;
  border: 2px solid black;
  background-color: rgb(160, 234, 249);
  border-radius: 15px;
}
button {
  height: 70px;
  width: 80px;
  border: none;
  margin: 5px;
  background-color: #c7c0c0;
  border-radius: 10px;
  box-shadow: #000 0px 0px 7px ;
  font-size: 20pt;
  transition: 0.1s ease;
  cursor: pointer;
}
#num0 {
  width: 175px;
}
#equal_to {
  height: 175px;
}
table {
  margin: 10px;
}
.operation{
    background-color: #939393;
}
.del{
    background-color: #ff7171;
}
#equal_to{
    background-color: #ff8400;
} 
#screen {
    text-align: left;
    font-size: 24px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }

  #inputDisplay {
    text-align:left;
  }

  #resultDisplay {
    text-align:right;
    font-size: 32px;
    position: absolute;
    bottom: 0;font-weight: bold;
    right: 10px;
  }
button:hover{
    scale: 1.1;
    background-color: #7aa7e1;
}

button:active{
    scale: 1;
    background-color: #c7c0c0;
}